@import "../../../scss/mixin.scss";
.picker{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2007;
	background: #fff;
	.picker-toolbar{
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -moz-flex;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -ms-flex-direction: row;
	    -moz-flex-direction: row;
	    flex-direction: row;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -moz-align-items: center;
	    align-items: center;
	    width: 100%;
	    @include border-1px(#eaeaea);
	    .mint-datetime-action{
	    	font-size: 14px;
			width: 0.5555rem;
		    height: 0.5555rem;
		    text-align: center;
		    line-height: 0.5555rem;
		    color: #fa8919;
	    }
	    .mint-datetime-title{
	    	color: #989A9C;
	    	font-size: 16px;
	    	-webkit-box-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    text-align: center;
		    display: block;
	    }
	}
	.picker-items{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: -moz-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -moz-justify-content: center;
	    justify-content: center;
	    padding: 0;
	    text-align: right;
	    font-size: 18px;
	    position: relative;
	    .picker-slot{
	    	overflow: hidden;
		    position: relative;
		   	height: 2.7775rem;
		   	box-sizing: border-box;
	    	flex: 1 1 0%;
    		-webkit-box-flex: 1;
    		text-align: center;
    		.picker-slot-wrapper{
 				.picker-item{
 					line-height: 0.5555rem;
 					height: 0.5555rem;
 				}
    		}
	    }
	    .picker-center-highlight{
	    	height: 0.5555rem;
		    box-sizing: border-box;
		    position: absolute;
		    left: 0;
		    width: 100%;
		    top: 50%;
		    margin-top: -0.27775rem;
		    border-top: 1px solid rgba(0, 0, 0, 0.2);
		    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		    pointer-events: none;
	    }
	}
}